.carousel-container {
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  animation: slideToLeft 15s linear infinite;
}
@media screen and (max-width: 1279px) {
  @keyframes slideToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
@media screen and (min-width: 1280px) {
  @keyframes slideToLeft {
    0% {
      transform: translateX(60%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

/* This CSS is used to create the carousel effect */
.carousel-images-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-images-container {
  overflow: hidden;
  height: 300px; /* Adjust the height as needed */
}

/* Adjust the width of each image based on the container's width */
.carousel-images-inner img {
  width: 100%;
  height: auto;
}
